<h2 class="section-title">{{ .titles.about }} the Forum</h2>

<p itemprop="description">COVID-19 Data Forum: A series of multidisciplinary, online meetings for topic experts
  to focus on data-related  aspects of the pandemic modeling process such as data access and sharing,
  essential data resources for modeling and how we can best support  decision making. The first online
  meeting will be held on
  <br><br>
<p style="text-align: center;">May 14, 2020 from 19:00 PM UTC until 23:30 PM UTC (13:30 PM San Francisco,  21:30 PM London, 06:30 AM Sydney)</p>
<p>
  The first half of the meeting will be a public webinar, all welcome here: link here
  <br><br>
  Add to your calendar with this link: ical link
</p>

<h4>More about the event</h4>
<p>The initial response to the COVID-19 pandemic from the Community has been astounding. Epidemiologists,
  public health experts, statisticians, data scientists and researchers with R expertise have published a
  large number of predictive models, interactive resource allocation applications, and disease tracking dashboards.
  This effort has been successful in making data from reliable sources readily available by providing code to access
  and process the data for analysis.
</p>
<p>
However, most of this work has been done by individuals and small groups working in isolation without the benefit of
standards or a common framework for analysis. Additionally, most of the contributed models and analyses were
necessarily opportunistic in the sense that they were built with the data at hand and with limited opportunity
for guidance from and with limited opportunity for guidance from the decision makers responsible for public health policy.
</p>
<p>
We are now entering a new phase in the analytical effort to combat the disease caused by the novel corona virus.
The alarm bell has been rung and heard. To continue in an uncoordinated fashion would be counterproductive.
<b>We believe that now is the time to initiate a cooperative effort to design and develop a small number of high quality,
trusted tools to assist public officials and health care administrators in making good decisions.</b>
</p>
<p>
The intent of the summit is to focus on the data required to build actionable models to predict the likely evolution
of the pandemic. We hope to identify gaps in the kinds of data required and to reach agreement on the features that
predictive models ought to possess in order to assist authorities charged with making real-time decisions during the
next phase of the pandemic. We also hope to develop guidelines to assist developers and modelers who are building
open source tools  for modeling and other aids to planning and decision making. These goals are potentially useful now,
with COVID-19, and are essential for the future pandemics that are sure to come.
</p>
<p>
The COVID-19 Data Forum will be a series of online meetings with both a public set of talks as well as smaller invited
expert workshop for topic experts to focus on various aspects of the modeling process.
</p>

<!--<p>This is just a live demo, check our <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">repository
  on Github</a> for more details =D</p>-->
